<!-- <p-toast key="campus"></p-toast> -->

<div class="grid">
    <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <app-card 
            header="Mantenedor de campus"
            subheader="Permite ver, crear y actualizar campus."
        >

            <app-menu-buttons-table
                (clickOpenNew)="openNew()"
            ></app-menu-buttons-table>

            

            <p-table
                #tc
                [value]="campuses"
                [columns]="cols"
                [rows]="10"
                [globalFilterFields]="['nombre','estado']"
                [paginator]="false" 
                [rowsPerPageOptions]="[10,25,50]"
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="{first} hasta {last} de {totalRecords} registros."
                [(selection)]="selectedCampus" 
                selectionMode="multiple" 
                [rowHover]="true" 
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between align-content-center">
                        <div>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(tc, $event)" placeholder="Buscar..."  />
                            </span>
                            <p-button
                                styleClass="p-button-text p-button-sm ml-2"
                                icon="pi pi-filter-slash"
                                pTooltip="Limpiar filtros"
                                (click)="tc.clear()"
                            ></p-button>
                        </div>
                        <div>
                            <!-- <p-button
                            styleClass="p-button-danger p-button-sm mr-2"
                            icon="pi pi-file-pdf"
                            label="Descargar"
                            >
                            </p-button> -->
                            <p-button
                            pRipple
                            label="Actualizar"
                            icon="pi pi-refresh"
                            styleClass="p-button-sm p-button-info"
                            (click)="refreshTable()"
                            ></p-button>
                        </div>
                        
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th style="min-width: 10rem">Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-campus >
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="campus"></p-tableCheckbox>
                        </td>
                        <td style="width:50%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{campus.nombre}}
                        </td>

                        <td style="width:50%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            <span [class]="'estado-badge estado-' + (campus.estado ? campus.estado.toLowerCase() : '')">
                                {{campus.estado}}
                            </span>
                        </td>
                        <td>
                            <div class="flex">
                                <p-button
                                    icon="pi pi-trash"
                                    styleClass="p-button-sm p-button-danger mr-2"
                                    pTooltip="Eliminar registro"
                                ></p-button>
                                <p-button
                                    icon="pi pi-pencil"
                                    styleClass="p-button-sm p-button-warning mr-2"
                                    pTooltip="Editar registro"
                                ></p-button>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table> 

        </app-card>

        <app-dialog [(visible)]="dialog">
            
            <div header>
                <ng-container [ngSwitch]="mode">

                    <ng-container *ngSwitchCase="'create'">
                        <span class="text-xl">Agregar campus</span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'edit'">
                        <span class="text-xl">Actualizar campus</span>
                    </ng-container>

                </ng-container>
            </div>

            <div content>
                <div class="grid">
                    <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                        <form [formGroup]="fbForm">
                            <div class="grid">

                              <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                <app-form-isvalid [valid]="fbForm.valid"></app-form-isvalid>
                              </div>

                              <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                <div class="field">
                                  <label>Nombre *</label>
                                  <input type="text" pInputText formControlName="nombre" class="w-full" />
                                  <app-form-control
                                    [control]="fbForm.controls['nombre']"
                                    [validators]="['required']"
                                  ></app-form-control>
                                </div>
                              </div>

                              <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                <div class="field">
                                  <label>Adjuntar REXE (.pdf) *</label>
                                  <p-fileUpload
                                        #uploader
                                        [customUpload]="true"
                                        [maxFileSize]="10000000"
                                        [showCancelButton]="true"
                                        (onSelect)="onSelect($event)"
                                        (uploadHandler)="uploadHandler(uploader)"
                                        chooseLabel="Seleccionar"
                                        uploadLabel="Cargar"
                                        cancelLabel="Cancelar"
                                        cancelIcon="pi pi-trash"
                                        accept="application/pdf"
                                        [showUploadButton]="false"
                                        multiple="multiple"

                                    >
                                        <ng-template let-file let-i="index" pTemplate="file">
                                            <p-table [value]="file" [tableStyle]="{'min-width': '30vw'}">
                                                <ng-template pTemplate="body" let-fi >
                                                    <tr>
                                                        <td>
                                                            {{fi.name}}
                                                        </td>
                                                        <td>
                                                            {{fi.name}}
                                                        </td>
                                                        <td>
                                                            {{fi.name}}
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                            <!-- <table *ngIf="file" >
                                                <tr>
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td class="pr-3">
                                                                <img width="40" src="https://repositorio.uv.cl/imagenes/extensions/{{file.name.toLowerCase() | fileExtension}}.png" style="margin: 0 auto" />
                                                                </td>
                                                                <td style="word-break: break-all">
                                                                {{ file.name | lowercase | slice:0:15  }} {{ (file.name.length > 15 ) ? '... .pdf' : '' }}<br />
                                                                <em class="small" style="color: gray"><i class="pi pi-file"></i> {{ file.size | fileSize }}</em>
                                                                </td>
                                                            </tr>
                                                            </table>
                                                    </td>
                                                    <td>
                                                        <textarea 
                                                        pInputTextarea
                                                        placeholder="Comentarios (opcional)" 
                                                        maxLength="150" 
                                                        [(ngModel)]="commentsFile[i]" 
                                                    >
                                                    </textarea>
                                                    </td>
                                                    <td>
                                                        <button
                                                        pButton
                                                        class="p-button-sm p-button-outlined p-button-secondary"
                                                        pTooltip="Quitar documento"
                                                        icon="pi pi-trash"
                                                        (click)="removeFileUploader(file, uploader, i)"
                                                    >
                                                    </button>
                                                    </td>
                                                </tr>
                                            </table> -->
                                        </ng-template>
                                    </p-fileUpload>
                                </div>
                              </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div footer>
                <p-button
                label="Cerrar"
                icon="pi pi-times"
                styleClass="p-button-sm p-button-secondary mr-2"
                (click)="dialog = false"
                [text]="true"
                ></p-button>
                <p-button
                label="Guardar"
                icon="pi pi-check"
                styleClass="mr-2 p-button-success p-button-sm"
                [disabled]="!fbForm.valid"
                (click)="dialog = false && fbForm.valid && submit()"
                ></p-button>
            </div>
            
            

        </app-dialog>

    </div>
</div>

