<!-- <p-toast key="campus"></p-toast> -->

<div class="grid">
    <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <app-card 
            header="Mantenedor de campus"
            subheader="Permite ver, crear y actualizar campus."
        >

            <app-menu-buttons-table
                (clickOpenNew)="openNew()"
            ></app-menu-buttons-table>

            

            <p-table
                #tc
                [value]="campuses"
                [columns]="cols"
                [rows]="10"
                [globalFilterFields]="['nombre','estado']"
                [paginator]="false" 
                [rowsPerPageOptions]="[10,25,50]"
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="{first} hasta {last} de {totalRecords} registros."
                [(selection)]="selectedCampus" 
                selectionMode="multiple" 
                [rowHover]="true" 
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between align-content-center">
                        <div>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(tc, $event)" placeholder="Buscar..."  />
                            </span>
                            <p-button
                                styleClass="p-button-text p-button-sm ml-2"
                                icon="pi pi-filter-slash"
                                pTooltip="Limpiar filtros"
                                (click)="tc.clear()"
                            ></p-button>
                        </div>
                        <div>
                            <!-- <p-button
                            styleClass="p-button-danger p-button-sm mr-2"
                            icon="pi pi-file-pdf"
                            label="Descargar"
                            >
                            </p-button> -->
                            <p-button
                            pRipple
                            label="Actualizar"
                            icon="pi pi-refresh"
                            styleClass="p-button-sm p-button-info"
                            (click)="refreshTable()"
                            ></p-button>
                        </div>
                        
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th style="min-width: 10rem">Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-campus >
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="campus"></p-tableCheckbox>
                        </td>
                        <td style="width:50%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{campus.nombre}}
                        </td>

                        <td style="width:50%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            <span [class]="'estado-badge estado-' + (campus.estado ? campus.estado.toLowerCase() : '')">
                                {{campus.estado}}
                            </span>
                        </td>
                        <td>
                            <div class="flex">
                                <p-button
                                    icon="pi pi-trash"
                                    styleClass="p-button-sm p-button-danger mr-2"
                                    pTooltip="Eliminar registro"
                                ></p-button>
                                <p-button
                                    icon="pi pi-pencil"
                                    styleClass="p-button-sm p-button-warning mr-2"
                                    pTooltip="Editar registro"
                                ></p-button>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table> 

        </app-card>

        <app-dialog [(visible)]="dialog">
            
            <div header>
                <ng-container [ngSwitch]="mode">

                    <ng-container *ngSwitchCase="'create'">
                        <span class="text-xl">Agregar campus</span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'edit'">
                        <span class="text-xl">Actualizar campus</span>
                    </ng-container>

                </ng-container>
            </div>

            <div content>

                
                    <form [formGroup]="fbForm">
                        <div class="grid">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                <app-form-isvalid [valid]="fbForm.valid"></app-form-isvalid>
                            </div>

                            <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                                <div class="field">
                                  <label>Nombre *</label>
                                  <input type="text" pInputText formControlName="nombre" class="w-full" />
                                  <app-form-control
                                    [control]="fbForm.controls['nombre']"
                                    [validators]="['required']"
                                  ></app-form-control>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="grid">
                        <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                            <div class="field">
                                <label>Adjuntar REXE (.pdf) *</label>
                                <p-fileUpload
                                    #uploader
                                    [customUpload]="true"
                                    [maxFileSize]="10000000"
                                    (onSelect)="onSelect($event)"
                                    (uploadHandler)="uploadHandler(uploader)"
                                    accept="application/pdf"
                                    [multiple]="true"
        
                                >
                                    <ng-template pTemplate="header" let-chooseCallback="chooseCallback" let-uploadCallback="uploadCallback" let-clearCallback="clearCallback">
                                        <div class="flex flex-wrap md:flex-wrap">
                                            <div class="flex align-items-center justify-content-center m-1">
                                                <p-button (click)="choose($event, chooseCallback)" icon="pi pi-plus" label="Seleccionar" styleClass="p-button-sm"  />
                                            </div>
                                            <div class="flex align-items-center justify-content-center m-1">
                                                <p-button (click)="uploadEvent(uploadCallback)" icon="pi pi-upload" label="Cargar" styleClass="p-button-sm" [disabled]="!files || files.length === 0" pTooltip="Carga pendientes" />
                                            </div>
                                            <div class="flex align-items-center justify-content-center m-1">
                                                <p-button (click)="clearAllFiles(clearCallback)" icon="pi pi-times" label="Cancelar" styleClass="p-button-sm" severity="danger" [disabled]="!files || files.length === 0"  pTooltip="Elimina pendientes" />
                                            </div>
                                        </div>
                                    </ng-template>
        
        
                                    <ng-template pTemplate="content"  let-removeFileCallback="removeFileCallback"  >
                    
                                        <div *ngIf="files.length > 0">
                                            <h5>Pendientes</h5>
                                            <p-table [value]="files" [tableStyle]="{'min-width': '300px'}" >
                                                <ng-template pTemplate="body" let-fileWithComment let-i="rowIndex">
                                                    <tr>
                                                        <td style="min-width: 250px;">
                                                            <tr>
                                                                <td class="pr-3">
                                                                <img width="40" src="https://repositorio.uv.cl/imagenes/extensions/{{fileWithComment.file.name.toLowerCase() | fileExtension}}.png" style="margin: 0 auto" />
                                                                </td>
                                                                <td style="word-break: break-all">
                                                                {{ fileWithComment.file.name | lowercase | slice:0:15  }} {{ (fileWithComment.file.name.length > 15 ) ? '... .pdf' : '' }}<br />
                                                                <em class="small" style="color: gray"><i class="pi pi-file"></i> {{ fileWithComment.file.size | fileSize }}</em>
                                                                </td>
                                                            </tr>
                                                        </td>
                                                        <td>
                                                            <p-badge value="Pendiente" severity="warning" />
                                                        </td>
                                                        <td>
        
                                                            <textarea 
                                                                pInputTextarea
                                                                placeholder="Comentarios (opcional)"
                                                                maxLength="150"
                                                                rows="2"
                                                                cols="15"
                                                                [autoResize]="true"
                                                                [(ngModel)]="fileWithComment.comment"
                                                                (ngModelChange)="onCommentChange(i, $event)"
                                                            ></textarea>
                                                            
                                                        </td>
                                                        <td>
                                                            <button
                                                                pButton
                                                                class="p-button-sm p-button-outlined p-button-secondary"
                                                                pTooltip="Quitar documento"
                                                                icon="pi pi-trash"
                                                                (click)="onRemoveTemplatingFile(fileWithComment.file, uploader, i)"
                                                                pTooltip="Eliminar"
                                                            ></button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
        
        
                                        <div *ngIf="uploadedFiles.length > 0">
                                            <h5>Completados: {{ uploadedFiles.length }}</h5>
                                            <p-table [value]="uploadedFiles" [tableStyle]="{'min-width': '300px'}" >
                                                <ng-template pTemplate="body" let-file let-i="index" >
                                                    <tr>
                                                        <td style="min-width: 250px;">
                                                            <tr>
                                                                <td class="pr-3">
                                                                <img width="40" src="https://repositorio.uv.cl/imagenes/extensions/{{file.nombre.toLowerCase() | fileExtension}}.png" style="margin: 0 auto" />
                                                                </td>
                                                                <td style="word-break: break-all">
                                                                {{ file.nombre | lowercase | slice:0:15  }} {{ (file.nombre.length > 15 ) ? '... .pdf' : '' }}<br />
                                                                <em class="small" style="color: gray"><i class="pi pi-file"></i> {{ file.extras.pesoDocumento | fileSize }}</em>
                                                                </td>
                                                            </tr>
                                                        </td>
                                                        <td>
                                                            <p-badge value="Completado" severity="success" />
                                                        </td>
                                                        <td>
                                                            <textarea 
                                                                pInputTextarea
                                                                maxLength="150"
                                                                rows="2"
                                                                cols="15"
                                                                [autoResize]="true" 
                                                                [disabled]="true"
                                                            >{{ file.extras.comentarios == '' ? 'N/A' : 'file.extras.comentarios' }}</textarea>
                                                        </td>
                                                        
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                        
        
                                    </ng-template>
        
                                    <ng-template pTemplate="file"></ng-template>
                                    
                                    
                                            
                                </p-fileUpload>
        
                                uploader: {{uploader.files.length | json}} <br>
                                files: {{files.length | json}} <br>
                                uploadedFiles: {{uploadedFiles.length | json}}
                                
                            </div>
                            </div>
                    </div>
                    
                

                

            </div>

            <div footer>
                <p-button
                label="Cerrar"
                icon="pi pi-times"
                styleClass="p-button-sm p-button-secondary mr-2"
                (click)="dialog = false"
                [text]="true"
                ></p-button>
                <p-button
                label="Agregar"
                icon="pi pi-check"
                styleClass="mr-2 p-button-success p-button-sm"
                [disabled]="!fbForm.valid"
                (click)="dialog = false && fbForm.valid && submit()"
                ></p-button>
            </div>
            
            

        </app-dialog>

    </div>
</div>

